.container {
    width: 100%;
    max-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: 1px solid #00000052;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding-top: 0;
    box-sizing: border-box;
    overflow: hidden;

    p {
        font-size: 14px;
        width: 100%;
        color: #00000052;
        margin: 0;
    }

    h3 {
        font-size: 18px;
        width: 100%;
        color: #000000;
        margin: 0;
        text-align: left;
    }

    a {
        border: 1px solid #00000052;
        height: 40px;
        width: 100%;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: #1c0f2a;
            border: none;
        }
    }

}