.container {
  width: 100%;
  background: linear-gradient(249deg, rgba(101, 46, 172, 1) 0%, rgba(41, 19, 70, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  padding: 10px;
}

@media (max-width: 768px) {
  .banner {
    justify-content: center;
  }

  .banner p {
    display: none;
  }
}